Glyma.NodeService/Glyma.TransactionalNodeService.Proxy.Universal/Service References/Service/mex5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TransactionalNodeService.Common.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TransactionalNodeService.Common.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svrsp2013/_vti_bin/SevenSigma/TransactionalMappingToolservice.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GlymaVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Build" type="xs:int" />
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Revision" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlymaVersion" nillable="true" type="tns:GlymaVersion" />
  <xs:complexType name="Domain">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainOriginalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DomainUid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Domain" nillable="true" type="tns:Domain" />
</xs:schema>