Glyma.SharePoint/SilverlightMappingToolBasic/Service References/GlymaSecurityService/mex1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://sevensigma.com.au/GlymaSecurityService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IGlymaSecurityService2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://sevensigma.com.au/GlymaSecurityService" location="http://dev-sp/_vti_bin/SevenSigma/GlymaSecurityService.svc/mex?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IGlymaSecurityService" type="i0:IGlymaSecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersPermissionLevelName">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetUsersPermissionLevelName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersPermissionLevel">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetUsersPermissionLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSecurityGroups">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetAllSecurityGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurableContextId">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetSecurableContextId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecurityAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/UpdateSecurityAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetSecurityAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionNameForObject">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetPermissionNameForObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionLevelForObject">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetPermissionLevelForObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProjectManagerGroupAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/SetProjectManagerGroupAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakRootMapInheritance">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/BreakRootMapInheritance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreRootMapInheritance">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/RestoreRootMapInheritance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGlymaSecurityService1" type="i0:IGlymaSecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersPermissionLevelName">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetUsersPermissionLevelName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersPermissionLevel">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetUsersPermissionLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSecurityGroups">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetAllSecurityGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurableContextId">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetSecurableContextId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecurityAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/UpdateSecurityAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetSecurityAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionNameForObject">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetPermissionNameForObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionLevelForObject">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetPermissionLevelForObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProjectManagerGroupAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/SetProjectManagerGroupAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakRootMapInheritance">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/BreakRootMapInheritance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreRootMapInheritance">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/RestoreRootMapInheritance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGlymaSecurityService2" type="i0:IGlymaSecurityService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IGlymaSecurityService2_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersPermissionLevelName">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetUsersPermissionLevelName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersPermissionLevel">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetUsersPermissionLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSecurityGroups">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetAllSecurityGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurableContextId">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetSecurableContextId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecurityAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/UpdateSecurityAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetSecurityAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionNameForObject">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetPermissionNameForObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionLevelForObject">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/GetPermissionLevelForObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProjectManagerGroupAssociations">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/SetProjectManagerGroupAssociations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakRootMapInheritance">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/BreakRootMapInheritance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreRootMapInheritance">
      <soap:operation soapAction="http://sevensigma.com.au/GlymaSecurityService/IGlymaSecurityService/RestoreRootMapInheritance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>