Glyma.SharePoint/SilverlightMappingToolBasic/Service References/ThemeService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://glyma-dev/_vti_bin/SevenSigma/ThemeService.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThemeService" />
  <xs:element name="GetTheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ThemeService" minOccurs="0" name="GetThemeResult" nillable="true" type="q1:ThemeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextMenuXaml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextMenuXamlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContextMenuXamlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>