Glyma.SharePoint/SilverlightMappingToolBasic/Service References/ThemeService/mex1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IThemeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_IThemeService2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://danwin2k8-sp.utilibiz.local/_vti_bin/sevensigma/themeservice.svc/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://danwin2k8-sp.utilibiz.local/_vti_bin/sevensigma/themeservice.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://danwin2k8-sp.utilibiz.local/_vti_bin/sevensigma/themeservice.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThemeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IThemeService_GetTheme_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTheme" />
  </wsdl:message>
  <wsdl:message name="IThemeService_GetTheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThemeResponse" />
  </wsdl:message>
  <wsdl:message name="IThemeService_GetContextMenuXaml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContextMenuXaml" />
  </wsdl:message>
  <wsdl:message name="IThemeService_GetContextMenuXaml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContextMenuXamlResponse" />
  </wsdl:message>
  <wsdl:portType name="IThemeService">
    <wsdl:operation name="GetTheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IThemeService/GetTheme" message="tns:IThemeService_GetTheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThemeService/GetThemeResponse" message="tns:IThemeService_GetTheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContextMenuXaml">
      <wsdl:input wsaw:Action="http://tempuri.org/IThemeService/GetContextMenuXaml" message="tns:IThemeService_GetContextMenuXaml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThemeService/GetContextMenuXamlResponse" message="tns:IThemeService_GetContextMenuXaml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IThemeService" type="tns:IThemeService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IThemeService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTheme">
      <soap:operation soapAction="http://tempuri.org/IThemeService/GetTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContextMenuXaml">
      <soap:operation soapAction="http://tempuri.org/IThemeService/GetContextMenuXaml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IThemeService1" type="tns:IThemeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTheme">
      <soap:operation soapAction="http://tempuri.org/IThemeService/GetTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContextMenuXaml">
      <soap:operation soapAction="http://tempuri.org/IThemeService/GetContextMenuXaml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IThemeService2" type="tns:IThemeService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IThemeService2_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTheme">
      <soap:operation soapAction="http://tempuri.org/IThemeService/GetTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContextMenuXaml">
      <soap:operation soapAction="http://tempuri.org/IThemeService/GetContextMenuXaml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>