Glyma.SharePoint/SilverlightMappingToolBasic/Service References/MappingService/mex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://sevensigma.com.au/NodeService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMappingToolService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_IMappingToolService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://sevensigma.com.au/NodeService" location="http://glyma-dev/_vti_bin/sevensigma/mappingtoolservice.svc/mex?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IMappingToolService" type="i0:IMappingToolService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMappingToolService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewDomain">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/CreateNewDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewMap">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/CreateNewMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/InsertNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNode">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/AddNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameNodeMetadata">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/RenameNodeMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasteNodeClone">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/PasteNodeClone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNode">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNodePromoteTransclusion">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteNodePromoteTransclusion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNodeTransclusion">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteNodeTransclusion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRelationship">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteRelationship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMetadata">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/ConnectNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectNodesFailureFaultFault">
        <soap:fault use="literal" name="ConnectNodesFailureFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateNodeMetadata">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/UpdateNodeMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainNodeIds">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainNodeIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainNodeId">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainNodeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainMapNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainMapNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainMapNodesPaged">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainMapNodesPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSoapTypes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetAllSoapTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetAllNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetRelatedNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapsNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetMapsNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainerMapNodeId">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetContainerMapNodeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodesXmlQuery">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetNodesXmlQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMappingToolService1" type="i0:IMappingToolService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMappingToolService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewDomain">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/CreateNewDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewMap">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/CreateNewMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/InsertNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNode">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/AddNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameNodeMetadata">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/RenameNodeMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasteNodeClone">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/PasteNodeClone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNode">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNodePromoteTransclusion">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteNodePromoteTransclusion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNodeTransclusion">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteNodeTransclusion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRelationship">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteRelationship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMetadata">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/DeleteMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/ConnectNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConnectNodesFailureFaultFault">
        <soap:fault use="literal" name="ConnectNodesFailureFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateNodeMetadata">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/UpdateNodeMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainNodeIds">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainNodeIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainNodeId">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainNodeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainMapNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainMapNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainMapNodesPaged">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetDomainMapNodesPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSoapTypes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetAllSoapTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetAllNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetRelatedNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMapsNodes">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetMapsNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainerMapNodeId">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetContainerMapNodeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodesXmlQuery">
      <soap:operation soapAction="http://sevensigma.com.au/NodeService/IMappingToolService/GetNodesXmlQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>