Glyma.SharePoint/SilverlightMappingToolBasic/Service References/MappingService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sevensigma.com.au/NodeService" elementFormDefault="qualified" targetNamespace="http://sevensigma.com.au/NodeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://glyma-dev/_vti_bin/sevensigma/mappingtoolservice.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NodeService" />
  <xs:import schemaLocation="http://glyma-dev/_vti_bin/sevensigma/mappingtoolservice.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://glyma-dev/_vti_bin/sevensigma/mappingtoolservice.svc/mex?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateNewDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="CreateNewDomainResult" nillable="true" type="q1:SoapNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q2:guid" />
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateNewMapResult" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mapId" type="q5:guid" />
        <xs:element minOccurs="0" name="siteUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userToken" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="webId" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listId" type="q7:guid" />
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="nodeType" nillable="true" type="q9:SoapNodeType" />
        <xs:element minOccurs="0" name="originalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="AddNodeResult" nillable="true" type="q10:SoapNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodeMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="soapNodeId" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="soapRelationshipId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="soapDescriptorType" nillable="true" type="q14:SoapDescriptorType" />
        <xs:element minOccurs="0" name="originalMetadataName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newMetadataName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodeMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenameNodeMetadataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasteNodeClone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q15:guid" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="copiedNodeId" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasteNodeCloneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="PasteNodeCloneResult" nillable="true" type="q17:SoapNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="nodeId" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="DeleteNodeResult" nillable="true" type="q20:DeleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodePromoteTransclusion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mapIdToDeleteFrom" type="q22:guid" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="nodeIdToDelete" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodePromoteTransclusionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="DeleteNodePromoteTransclusionResult" nillable="true" type="q24:DeleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeTransclusion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mapIdToDeleteFrom" type="q26:guid" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="nodeIdToDelete" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNodeTransclusionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="DeleteNodeTransclusionResult" nillable="true" type="q28:DeleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRelationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="relationshipId" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRelationshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="DeleteRelationshipResult" nillable="true" type="q31:DeleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="key" nillable="true" type="q32:MetadataContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="DeleteMetadataResult" nillable="true" type="q33:DeleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q34:guid" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nodes" nillable="true" type="q35:ArrayOfKeyValueOfSoapDescriptorTypeguiduqEsJzTc" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="relationshipType" nillable="true" type="q36:SoapRelationshipType" />
        <xs:element minOccurs="0" name="originalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="ConnectNodesResult" nillable="true" type="q37:ConnectedNodesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNodeMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q38:guid" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="soapNodeId" type="q39:guid" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="soapRelationshipId" type="q40:guid" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="soapDescriptorType" nillable="true" type="q41:SoapDescriptorType" />
        <xs:element minOccurs="0" name="metadataName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="metadataValue" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="soapMetadataType" nillable="true" type="q42:SoapMetadataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNodeMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="UpdateNodeMetadataResult" nillable="true" type="q43:SoapNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainNodeIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainNodeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDomainNodeIdsResult" nillable="true" type="q44:ArrayOfKeyValueOfstringguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainNodeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainNodeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetDomainNodeIdResult" type="q46:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainMapNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q47:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainMapNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="GetDomainMapNodesResult" nillable="true" type="q48:RelatedNodesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainMapNodesPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q49:guid" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainMapNodesPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="GetDomainMapNodesPagedResult" nillable="true" type="q50:RelatedNodesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSoapTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSoapTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="GetAllSoapTypesResult" nillable="true" type="q51:ArrayOfSoapTypeElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllNodesResult" nillable="true" type="q53:ArrayOfKeyValueOfguidSoapNodexmMmdVki" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nodeIds" nillable="true" type="q54:ArrayOfKeyValueOfguidguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNodesResult" nillable="true" type="q55:ArrayOfKeyValueOfguidSoapNodexmMmdVki" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q56:guid" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="nodeId" type="q57:guid" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="GetRelatedNodesResult" nillable="true" type="q58:RelatedNodesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapsNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q59:guid" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="mapNodeId" type="q60:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapsNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="GetMapsNodesResult" nillable="true" type="q61:RelatedNodesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerMapNodeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainId" type="q62:guid" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="nodeId" type="q63:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerMapNodeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetContainerMapNodeIdResult" type="q64:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesXmlQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graphQueryXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesXmlQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/NodeService" minOccurs="0" name="GetNodesXmlQueryResult" nillable="true" type="q65:RelatedNodesSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>