Glyma.SharePoint/MappingToolSPDeployment/Service References/MappingTool/mex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://danwin2k8-sp.utilibiz.local/_vti_bin/sevensigma/mappingtoolservice.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NodeService" />
  <xs:import schemaLocation="http://danwin2k8-sp.utilibiz.local/_vti_bin/sevensigma/mappingtoolservice.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValueOfMetadataContextSoapMetadata7J59U_P52">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfMetadataContextSoapMetadata7J59U_P52">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NodeService" name="Key" nillable="true" type="q1:MetadataContext" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NodeService" name="Value" nillable="true" type="q2:SoapMetadata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfMetadataContextSoapMetadata7J59U_P52" nillable="true" type="tns:ArrayOfKeyValueOfMetadataContextSoapMetadata7J59U_P52" />
  <xs:complexType name="ArrayOfKeyValueOfstringSoapMetadataILKwlcId">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringSoapMetadataILKwlcId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NodeService" name="Value" nillable="true" type="q3:SoapMetadata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringSoapMetadataILKwlcId" nillable="true" type="tns:ArrayOfKeyValueOfstringSoapMetadataILKwlcId" />
  <xs:complexType name="ArrayOfKeyValueOfguidSoapRelationshipxmMmdVki">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidSoapRelationshipxmMmdVki">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NodeService" name="Value" nillable="true" type="q4:SoapRelationship" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidSoapRelationshipxmMmdVki" nillable="true" type="tns:ArrayOfKeyValueOfguidSoapRelationshipxmMmdVki" />
  <xs:complexType name="ArrayOfKeyValueOfSoapDescriptorTypeguiduqEsJzTc">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfSoapDescriptorTypeguiduqEsJzTc">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NodeService" name="Key" nillable="true" type="q5:SoapDescriptorType" />
            <xs:element name="Value" type="ser:guid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfSoapDescriptorTypeguiduqEsJzTc" nillable="true" type="tns:ArrayOfKeyValueOfSoapDescriptorTypeguiduqEsJzTc" />
  <xs:complexType name="ArrayOfKeyValueOfguidSoapNodexmMmdVki">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidSoapNodexmMmdVki">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NodeService" name="Value" nillable="true" type="q6:SoapNode" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidSoapNodexmMmdVki" nillable="true" type="tns:ArrayOfKeyValueOfguidSoapNodexmMmdVki" />
  <xs:complexType name="ArrayOfKeyValueOfstringguid">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringguid">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" type="ser:guid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringguid" nillable="true" type="tns:ArrayOfKeyValueOfstringguid" />
  <xs:complexType name="ArrayOfKeyValueOfguidguid">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidguid">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element name="Value" type="ser:guid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidguid" nillable="true" type="tns:ArrayOfKeyValueOfguidguid" />
</xs:schema>