Glyma.NodeService/TransactionalNodeService.Proxy/Service References/Service/mex1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://sevensigma.com.au/TransactionalNodeService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITransactionalMappingToolService2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://sevensigma.com.au/TransactionalNodeService" location="http://dev-sp/_vti_bin/SevenSigma/TransactionalMappingToolservice.svc/mex?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ITransactionalMappingToolService" type="i0:ITransactionalMappingToolService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationVersion">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/GetApplicationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CreateDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRootMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CreateRootMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/DeleteDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRootMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/DeleteRootMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginTransaction">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BeginTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTransaction">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CompleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMapTypes">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/GetAllMapTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDomains">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMapPaged">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMapPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMapByDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMapByDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/SearchMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/NA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BNA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BNA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ND">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/ND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BND">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/NU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BNU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BNU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BOC">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSessionCompleted">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/IsSessionCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITransactionalMappingToolService1" type="i0:ITransactionalMappingToolService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationVersion">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/GetApplicationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CreateDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRootMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CreateRootMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/DeleteDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRootMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/DeleteRootMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginTransaction">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BeginTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTransaction">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CompleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMapTypes">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/GetAllMapTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDomains">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMapPaged">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMapPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMapByDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMapByDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/SearchMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/NA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BNA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BNA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ND">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/ND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BND">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/NU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BNU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BNU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BOC">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSessionCompleted">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/IsSessionCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITransactionalMappingToolService2" type="i0:ITransactionalMappingToolService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITransactionalMappingToolService2_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationVersion">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/GetApplicationVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CreateDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRootMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CreateRootMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/DeleteDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRootMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/DeleteRootMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginTransaction">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BeginTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteTransaction">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/CompleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMapTypes">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/GetAllMapTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDomains">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMapPaged">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMapPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMapByDomain">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/QueryMapByDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMap">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/SearchMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/NA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BNA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BNA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ND">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/ND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BND">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/NU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BNU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BNU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/RU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BRU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BRU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMA">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMD">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/MU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMU">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BMU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BOC">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/BOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSessionCompleted">
      <soap:operation soapAction="http://sevensigma.com.au/TransactionalNodeService/ITransactionalMappingToolService/IsSessionCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>